#!/bin/bash

# Auth to HCP via HCP Service Principal
export HCP_CLIENT_ID=""
export HCP_CLIENT_SECRET=""
export HCP_ORGANIZATION=""
export HCP_PROJECT=""
export HCP_PROJECT_ID=${HCP_PROJECT}

# Auth to Azure via Azure Service Principal
export ARM_TENANT_ID=""
export ARM_SUBSCRIPTION_ID=""
export ARM_CLIENT_ID=""
export ARM_CLIENT_SECRET=""

# Output from 1_terraform for the Azure Container Registry.
# Must be set for Packer to push & pull the image to the ACR.
export REGISTRY_URL=$(cd "./1_terraform" && terraform output -raw acr_url)
export REGISTRY_LOGIN=$(cd "./1_terraform" && terraform output -raw acr_admin_name)
export REGISTRY_PASSWORD=$(cd "./1_terraform" && terraform output -raw acr_admin_password)
